<div>
    <h2 mat-ti>Shopping Cart</h2>
    <br>
    <div *ngIf="products$ | async ; else let products">
        <mat-card *ngFor="let p of products; trackBy:trackProduct">
            <mat-card-header>
                <mat-card-title>
                    Name:
                    <es-product-name [id]="p.productId"></es-product-name>
                </mat-card-title>
            </mat-card-header>
            <mat-card-content>
                Price:
                <es-product-price [id]="p.productId"></es-product-price>

                Quantity:
                <es-product-quantity [productId]="p.productId"></es-product-quantity>
            </mat-card-content>
        </mat-card>
    </div>

</div>